<h3 *ngIf="!followers.length" class="text-muted">Not followed by anyone yet :(</h3>
<div *ngIf="followers" class="container">
  <div class="card-columns ">
    <div [routerLink]="['/profile', user.id]" class="card card-plain border rounded" *ngFor="let user of followers">
      <img class="card-img-top" src="{{user.photoLink}}" alt="">
      <p class="py-2">
        <a class="font-weight-bold">{{user.username}}</a>
      </p>
    </div>
  </div>
</div>