<div class="card text-white rounded" (click)="showPostDetails()">
  <img class="card-img-top img-fluid rounded" src="{{post.photoLink}}" alt="Card image">
  <div class="card-img-overlay">

    <div class="card-footer row m-auto p-2 justify-content-between">
      <div class="font-weight-bold m-auto post-title">{{post.title}}</div>
    </div>
  </div>
</div>