<h3 *ngIf="!following.length" class="text-muted">Not following anyone yet :(</h3>
<div *ngIf="following" class="container">
  <div class="card-columns">
    <div [routerLink]="['/profile', user.id]" class="card card-plain border rounded" *ngFor="let user of following">
      <img class="card-img-top" src="{{user.photoLink}}" alt="">
      <p class="py-2">
        <a class="font-weight-bold">{{user.username}}</a>
      </p>
    </div>
  </div>
</div>