<form class="p-2 rounded" [formGroup]="createPostForm">
  <div class="align-content-center">
    <img class="img img-container m-auto rounded" [src]="photoUrl || 'assets/img/placeholder.jpg'" alt="">
    <div class="container">
      <ngx-spinner [name]="'location-spinner'" [fullScreen]="false" bdColor="rgba(0,0,0,0.9)" size="medium" color="rgba(68, 255, 112, 1)"  type="ball-scale-multiple">
        <p [ngStyle]="{color:'rgba(68, 255, 112, 1)', 'font-size':'1.2em'}">Searching your location...</p>
      </ngx-spinner>
    </div>
    <p class="pt-2 pb-1" *ngIf="this.location"><i class="nc-icon nc-pin-3"></i> {{this.location.city}} {{this.location.country_name}}

    </p>
    <div class="form-group form-group-no-border mt-2">
      <button class="btn btn-outline-light uploadImage w-100 m-auto">
        Upload Photo
        <input (change)="onPhotoChange($event)" accept='image/*' type="file" id="profilePicture">
      </button>
    </div>
  </div>

  <div class="form-group">
    <select formControlName="status" class="form-control">
      <option>public</option>
      <option>private</option>
    </select>
  </div>


  <div class="form-group rounded" [ngClass]="{valid: createPostForm.controls.title.valid}">
    <input formControlName="title" type="text" class="form-control form-control-success text-black-100"
      placeholder="Enter a title..." maxlength="15">
  </div>

  <div class="form-group shadow-textarea">
    <textarea formControlName="description" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
      placeholder="Enter a description..." [ngClass]="{valid: createPostForm.controls.description.valid}"></textarea>
  </div>

  <button (click)="createPost()" [disabled]="!createPostForm.valid || !photo" class="btn btn-block btn-success"
    type="submit">Create</button>
</form>