<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true">
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img (click)="openAlbum(profilePhoto,0)" src="{{user.photoLink}}" alt="Circle Image"
            class="img-rounded img-thumbnail profile-photo">
        </div>

        <div class="name">
          <h3 class="title m-0">{{user.username}}</h3>
          <h6 class="email text-lowercase">( {{user.email}} )</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <button (click)="openSettings()" *ngIf="user.id === loggedUserData.id"
            class="btn btn-outline-default w-50">Settings</button>
          <button (click)="followUser()" *ngIf="!user.isFollowed && user.id !== loggedUserData.id"
            class="btn btn-outline-success w-50">Follow</button>
          <button (click)="unFollowUser()" *ngIf="user.isFollowed && user.id !== loggedUserData.id"
            class="btn btn-outline-danger w-50">Followed</button>
        </div>
      </div>

      <app-profile-settings *ngIf="isOpenSettings" (userUpdate)="confirmUpdateUser($event)"
        (userDelete)="confirmDeleteUser()" [loggedUserData]="loggedUserData" [user]="user"></app-profile-settings>

      <div *ngIf="!isOpenSettings" class="nav-tabs-navigation mt-5">
        <div class="nav-tabs-wrapper">
          <ngb-tabset [justify]="'center'">

            <ngb-tab title="Posts ({{createdPosts.length}})" class="w-25">
              <ng-template ngbTabContent>
                <h3 *ngIf="!createdPosts.length" class="text-muted">Not created any posts yet :(</h3>

                <div *ngIf="createdPosts" class="container">
                  <div class="card-columns">
                    <div class="card rounded" *ngFor="let post of createdPosts; let i = index;"
                      (click)="openAlbum(createdPostsAlbum,i)">
                      <img class="card-img rounded" src="{{post.photoLink}}" alt="">
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Liked ({{likedPosts.length}})" class="w-25">
              <ng-template ngbTabContent>
                <h3 *ngIf="!likedPosts.length" class="text-muted">Not liked any posts yet :(</h3>

                <div *ngIf="likedPosts" class="container">
                  <div class="card-columns">
                    <div class="card rounded" *ngFor="let post of likedPosts; let i = index;"
                      (click)="openAlbum(likedPostsAlbum, i)">
                      <img class="card-img rounded" src="{{post.photoLink}}" alt="">
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Followers ({{user.followersCount}})" class="w-25">
              <ng-template ngbTabContent>
                <app-followers [followers]="followers"></app-followers>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Following ({{user.followingCount}})" class="w-25">
              <ng-template ngbTabContent>
                <app-following [following]="following"></app-following>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>