<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="credits">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} Home World
                </span>
            </div>
        </div>
    </div>
</footer>