<div class="wrapper">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">

            <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
              <label>Username</label>
              <div class="input-group form-group-no-border rounded"
                [ngClass]="{valid: registerForm.controls.username.valid}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-circle-10"></i>
                  </span>
                </div>

                <input formControlName="username" type="text" class="form-control form-control-success"
                  placeholder="Username" maxlength="15">
                <div class="form-control-feedback"
                  *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].errors?.required">
                  Username is required.</div>
                <div class="form-control-feedback"
                  *ngIf="registerForm.controls['username'].touched && (registerForm.controls['username'].errors?.minlength)">
                  Username must have at least 3 symbols.</div>
              </div>

              <label>Email</label>
              <div class="input-group form-group-no-border rounded"
                [ngClass]="{valid: registerForm.controls.email.valid}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                </div>

                <input formControlName="email" type="text" class="form-control" placeholder="Email" maxlength="30">
                <div class="form-control-feedback"
                  *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.required">
                  Email is required.</div>
                <div class="form-control-feedback"
                  *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.email">
                  Invalid email.</div>
              </div>

              <label>Password</label>
              <div class="input-group form-group-no-border rounded"
                [ngClass]="{valid: registerForm.controls.password.valid}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
                <input formControlName="password" type="password" class="form-control" placeholder="Password"
                  maxlength="15">
                <div class="form-control-feedback"
                  *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.required">
                  Password is required.</div>
                <div class="form-control-feedback"
                  *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.minlength">
                  Password must have at least 3 symbols.</div>
              </div>

              <label>Repeat Password</label>
              <div class="input-group form-group-no-border rounded"
                [ngClass]="{valid: registerForm.controls.repeatPassword.valid && !registerForm.hasError('notSame')}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
                <input formControlName="repeatPassword" type="password" class="form-control"
                  placeholder="Repeat Password" maxlength="15">
                <div class="form-control-feedback"
                  *ngIf="registerForm.controls['password'].touched && registerForm.hasError('notSame')">
                  Please make sure your passwords match.</div>
              </div>

              <button [disabled]="!registerForm.valid" [ngClass]="{valid: registerForm.valid}"
                class="btn btn-block btn-success" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>