<app-navbar></app-navbar>
<div class="router-outlet-content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

<ngx-spinner bdColor="rgba(0,0,0,0.7)" size="medium" color="rgba(68, 255, 112, 1)" type="ball-grid-beat">
</ngx-spinner>