.comment {
  font-family: "Playfair Display", serif;
  word-wrap: break-word;
}

.comments {
  max-height: 200px;
  overflow: auto;
}

.time {
  font-size: 0.8em;
  text-align: right;
}

.post-dropdown {
  font-size: 3em;
  font-weight: bold;
  background: none;

  ::-moz-selection {
    background: none;
  }
  ::selection {
    background: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.option {
  margin: 0 !important;
}

.dropdown-menu {
  background: #fff;
  width: 30px !important;
}

.description {
  color: #444;
  font-size: 0.9em;
  word-wrap: break-word;
}

.post-like {
  font-size: 1.8em;

  &:hover {
    cursor: pointer;
  }
}

.comment-like {
  &:hover {
    cursor: pointer;
  }
}

.liked {
  color: #ed4956;
  text-shadow: 0 0 0.1em #ed4956;
}

.likes {
  font-weight: bold;
}

.post-creator-photo {
  width: 50px;
  height: 50px;
}

.commenter-img {
  width: 40px !important;
  height: 40px !important;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 999;
}

h6 {
  font-size: 1.2em;
  text-transform: inherit;
}

.post-photo {
  border-radius: 0.2em;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}
