.page-header {
  background: rgb(68, 255, 112);
  background: radial-gradient(circle, rgba(68, 255, 112, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

input {
  font-weight: bold;
}

.card-register {
  background: #000;
}

.valid {
  box-shadow: 0 0 0 0.2em rgba(68, 196, 125, 0.8);
}

.greeting {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 0.02em rgba(255, 255, 255, 1);
}
