<div class="d-flex flex-column p-1">
    <div class="row d-flex flex-row m-2">
        <textarea id="comment" class="form-control mb-1" [(ngModel)]="commentToEdit.content"></textarea>
    </div>
    <div class="row d-flex flex-row m-2 align-items-center">
        <button class="btn btn-outline-default w-100" (click)="editComment()">Update</button>
    </div>
</div>