<form class="p-2 rounded" [formGroup]="editPostForm">
  <div class="form-group">
    <select formControlName="status" class="form-control">
      <option [selected]="editPostForm.controls['status'].value === 'public'">public</option>
      <option [selected]="editPostForm.controls['status'].value === 'private'">private</option>
    </select>
  </div>


  <div class="form-group rounded">
    <input formControlName="title" type="text" class="form-control form-control-success text-black-100" maxlength="15">
  </div>

  <div class="form-group shadow-textarea">
    <textarea formControlName="description" class="form-control z-depth-1" id="exampleFormControlTextarea6"
      rows="3"></textarea>
  </div>

  <button (click)="updatePost()" class="btn btn-block btn-success" type="submit">Update</button>
</form>