<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'nav-open': this.openSidebar}">
  <div class="container">
    <div class="navbar-translate">
      <div class="row justify-content-center">
        <a class="navbar-brand col-12 col-md-6 p-md-4 p-1" [routerLink]="['/home-world']">Home World</a>
        <a class="navbar-brand col-12 col-md-6 p-md-4 p-1" [routerLink]="['/people']">Discover People</a>
      </div>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="loggedUserData">
          <p>
            <img _ngcontent-c9="" alt="Profile picture" class="img-circle img-responsive my-2"
              src="{{loggedUserData.photoLink}}">
          </p>
        </li>
        <li class="nav-item" *ngIf="loggedUserData">
          <a (click)="sidebarToggle()" [routerLink]="['/profile', loggedUserData.id]" class="nav-link" rel="tooltip" data-placement="bottom">
            <p>{{loggedUserData.username}}</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedUserData">
          <a (click)="logout()" (click)="sidebarToggle()" [routerLink]="['/login']" class="nav-link" rel="tooltip" data-placement="bottom">
            <p>Logout</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="!loggedUserData">
          <a (click)="sidebarToggle()" class="nav-link" rel="tooltip" data-placement="bottom" [routerLink]="['/login']">
            <p>Login</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="!loggedUserData">
          <a (click)="sidebarToggle()" class="nav-link" rel="tooltip" data-placement="bottom" [routerLink]="['/register']">
            <p>Register</p>
           </a>
        </li>
      </ul>
    </div>
  </div>
</nav>